<div class="test1">
    <label>
        <input type="checkbox" name="Sneha" (click)="colorChange($event)">Sneha
    </label><br>
    <label>
        <input type="checkbox" name="Shakha">Shakha
    </label><br>
    <label>
        <input type="checkbox" name="Rekha">Rekha
    </label><br>
    <label>
        <input type="checkbox" name="Suraj">Suraj
    </label><br>
    <label>
        <input type="checkbox" name="Manoj">Manoj
    </label><br>
    <label>
        <input type="checkbox" name="Bipul">Bipul
    </label>

    
</div>
